
                    <!-- Topbar Navbar -->
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="#">Administracion</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                          <ul class="navbar-nav col-sm-9">
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Vistas / Reportes
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="vistasAdmin">General</a>
                                <a class="dropdown-item" href="graficosAdmin">Administracion</a>
                                <a class="dropdown-item" href="#">Usuarios</a>
                              </div>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mantenedores
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="usuarioAdmin">Usuario</a>
                              </div>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cuentas de Usuarios
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="logoutAdmin">Desconectarse</a>
                              </div>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Componentes
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="triggersAdmin">Triggers B.D</a>
                                <a class="dropdown-item" href="logAdmin">Visor de Sucesos (Log)</a>
                              </div>
                            </li>
                          </ul>
                          <ul class="navbar-nav navbar-right col-sm-3">
                            <div id="relojchile"></div><br>
                            <div id="relojUTC"></div>
                         </ul>
                        </div>
                      </nav>
                  <!-- End of Topbar -->
                  <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Registros de sucesos</h1>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">

                        <!-- Default Card Example -->
                        <div class="card mb-4">
                            <div class="card-header">
                                Detalle sucesos del software
                            </div>
                            <div class="card-body">
                              <object class="internalbox" type="text/plain" data="node.log"></object>
                            </div>
                        </div>
                        <div class="alert alert-info" role="alert">
                          La hora que indica el visor, es de -4 UTC de diferencia..
                        </div>
                      </div>
                    </div>
                  </div>