<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ejemplo de JavaScript: corrigiendo un test de radio buttons</title>
 
<style type="text/css">
    div#contenedor{
        width: 35em;
        overflow: hidden;
        margin: 0 auto;
        background-color: #000000;
        padding: 0.5em;
        color: #FFF;
    }
    a:link {
        color: #FFF;
    }
    a:visited {
        color: #FFF;
    }
    a:active {
        color: #FFF;
    }
</style>
<script type="text/javascript">
    var respuestaCorrecta = new Array("a1", "b2", "c3", "d4", "f1");
		
		function comprobarRadio(matriz){
		
			var numeroRespuestasOK=0;
			var numeroRespuestasKO=0;
			var solucion = document.getElementById("solucion");
			var tablaResultados ="<table border='1'>";
			
			for(j=0; j< matriz.length; j++){
			var radios = document.getElementsByName(j+1);
				for(i=0; i< radios.length;i++){
					if (radios[i].checked){
					var valor =  radios[i].value;
						if(valor == matriz[j]) {
						tablaResultados+= "<tr><td>Respuesta correcta: </td>"+ "<td>"+ valor + "</td></tr>";
						numeroRespuestasOK++;
						break;
						}else {
						tablaResultados+= "<tr><td>Respuesta incorrecta: </td><td>"+ valor + "</td></tr>";
						numeroRespuestasKO++;
						break;
						}
					}
				}
				
				
			}
			var numeroRespuestasNulas=matriz.length - (numeroRespuestasOK + numeroRespuestasKO);
			tablaResultados+="<tr><td>Resultado: </td><td>Respuestas correctas: "+numeroRespuestasOK+"<br/>Respuestas incorrectas: "+ numeroRespuestasKO+"<br/>Respuestas en blanco: "+ numeroRespuestasNulas+"</td></tr></table>";
			solucion.innerHTML = tablaResultados;
	}
</script>
</head>
<body>
<div id="contenedor">
<h1>Ejemplo de JavaScript:<br/> corrigiendo un test de radio buttons</h1>
<table style="float:left; border: 1px solid white; margin-right:.5em;">
 <tr>
		<td>A1<input type="radio" value="a1" name="1" /></td>
		<td>A2<input type="radio" value="a2" name="1"/></td>
		<td>A3<input type="radio" value="a3" name="1" /></td>
		<td>A4<input type="radio" value="a4" name="1" /></td>
 </tr> 
 <tr>
		<td>B1<input type="radio" value="b1" name="2" /></td>
		<td>B2<input type="radio" value="b2" name="2"/></td>
		<td>B3<input type="radio" value="b3" name="2" /></td>
		<td>B4<input type="radio" value="b4" name="2" /></td>
 </tr> 
 <tr>
		<td>C1<input type="radio" value="c1" name="3" /></td>
		<td>C2<input type="radio" value="c2" name="3"/></td>
		<td>C3<input type="radio" value="c3" name="3" /></td>
		<td>C4<input type="radio" value="c4" name="3" /></td>
 </tr> 
 <tr>
		<td>D1<input type="radio" value="d1" name="4" /></td>
		<td>D2<input type="radio" value="d2" name="4"/></td>
		<td>D3<input type="radio" value="d3" name="4" /></td>
		<td>D4<input type="radio" value="d4" name="4" /></td>
 </tr> 
 <tr>
		<td>F1<input type="radio" value="f1" name="5" /></td>
		<td>F2<input type="radio" value="f2" name="5"/></td>
		<td>F3<input type="radio" value="f3" name="5" /></td>
		<td>F4<input type="radio" value="f4" name="5" /></td>
 </tr> 
 <tr> <td colspan="2"> 
 <input type="button" value="Corregir" onclick="comprobarRadio(respuestaCorrecta)" /></td></tr>
</table>
  <div id="solucion"></div>
 </div>
</body>
</html>