        <!-- Sidebar -->
        <ul class="navbar-nav bg-light sidebar sidebar-light accordion" id="accordionSidebar">
        </br>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Bicom Academy</span></a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#vistas"
                    aria-expanded="true" aria-controls="vistas">
                    <i class="fas fa-fw fa-school"></i>
                    <span>
                        Contenido
                        <div class="progress">
                            <div id="barra_general" class="progress-bar progess-bar-stripped inicio animacion" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
                        </div>
                        <div class="progress">
                            <div id="barra_especifica" class="progress-bar progess-bar-stripped animacion" role="progressbar" aria-valuenow="10" aria-valuemin="0" style="width: 30%;" aria-valuemax="100">30%</div>
                        </div>
                    </span>
                </a>
                <div id="vistas" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="contenido1">
                            Contenido 1. <br/>
                            <div class="progress">
                                <div id="barra_especifica1" class="progress-bar progess-bar-stripped animacion" role="progressbar" aria-valuemin="40" aria-valuemax="100"></div>
                            </div>
                        </a>
                        <a class="collapse-item" href="contenido2">
                            Contenido 2. <br/>
                            <div class="progress">
                                <div id="barra_especifica2" class="progress-bar progess-bar-stripped inicio animacion" role="progressbar" aria-valuemin="40" aria-valuemax="100"></div>
                            </div>
                        </a>
                        <a class="collapse-item" href="contenido3">
                            Contenido 3. <br/>
                            <div class="progress">
                                <div id="barra_especifica3" class="progress-bar progess-bar-stripped inicio animacion" role="progressbar" aria-valuemin="40" aria-valuemax="100"></div>
                            </div>
                        </a>
                        <a class="collapse-item" href="contenido4">
                            Contenido 4. <br/>
                            <div class="progress">
                                <div id="barra_especifica4" class="progress-bar progess-bar-stripped inicio animacion" role="progressbar" aria-valuemin="40" aria-valuemax="100"></div>
                            </div>
                        </a>
                        <a class="collapse-item" href="contenido5">
                            Contenido 5. <br/>
                            <div class="progress">
                                <div id="barra_especifica5" class="progress-bar progess-bar-stripped inicio animacion" role="progressbar" aria-valuemin="40" aria-valuemax="100"></div>
                            </div>
                        </a>
                        <a class="collapse-item" href="contenido6">
                            Contenido 6. <br/>
                            <div class="progress">
                                <div id="barra_especifica6" class="progress-bar progess-bar-stripped inicio animacion" role="progressbar" aria-valuemin="40" aria-valuemax="100"></div>
                            </div>
                        </a>
                        <a class="collapse-item" href="contenido7">
                            Contenido 7. <br/>
                            <div class="progress">
                                <div id="barra_especifica7" class="progress-bar progess-bar-stripped inicio animacion" role="progressbar" aria-valuemin="40" aria-valuemax="100"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#mantenedores"
                    aria-expanded="true" aria-controls="mantenedores">
                    <i class="fas fa-fw fa-clipboard"></i>
                    <span>Calificaciones</span>
                </a>
                <div id="mantenedores" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">Notas Periodo</a>
                        <a class="collapse-item" href="#">Promedio General</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#cuentasusuario"
                    aria-expanded="true" aria-controls="cuentasusuario">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Cuentas de usuario</span>
                </a>
                <div id="cuentasusuario" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="accesoPrincipal">Perfil de Usuario</a>
                        <a class="collapse-item" href="#">Completar Perfil</a>
                        <a class="collapse-item" href="#">Generar Certificado</a>
                        <a class="collapse-item" href="logout">Desconectarse</a>
                    </div>
                </div>
            </li>
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->